body{
  
    margin:0px;
}
.main{
    width:1280px;
    /* height:5339px; */
    align-items: center;
    margin:auto;
    border:2px solid rgb(76, 76, 252);
}
.headerRect{
    display:flex;
    justify-content:left;
   align-items:left;
   margin-top:33.80px;
}
.headerRect img{
    height:47.83;
    width:163.86;
    display:flex;
        justify-content:left;
       align-items:left;
       margin:auto;
}

/* Responsive headerRect image */

@media screen and (max-width:480px){
    .main{
        width:480px;
        /* height:5339px; */
        align-items: center;
        margin:0;
        border:2px solid rgb(76, 76, 252);
    }
    .headerRect{
        display:flex;
        justify-content:center;
       align-items: center;
       margin-top:22.80px;
    }
    .headerRect img{
        height: 27px;
        width:95px;
        display:flex;
        justify-content:left;
       align-items:left;
    }
}



   /* all nav titles */


.nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:10.98px;
}
.nav1{
    width:90%;
    align-items: center;
    margin:auto;
}
   .nav p{
    font: normal normal 600 19px/26px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
   }
   .nav p:hover{
    border:2px solid rgb(76, 76, 252);
   }
   .hr hr1{
    border:border solid grey;
   }

   /* Herosection */
   
   .pricing{
    display:flex;
    justify-content:center;
    align-items:center; 
    
   }
   .herosection{
    display:flex;
    justify-content: space-around;
    align-items: left;
    /* max-width:1280px; */
    width:90%;
    margin:auto;
   }
 
   .lorem1{
    display:flex;
    justify-content: space-evenly;
    align-items: end;
   }
   .lorem{
    width:45%;
    margin-top:5rem;
    font: normal normal normal 18px/24px Nunito Sans;
    letter-spacing: 1px;
     color: #000000;
      opacity: 1;
line-height: 1.4;
font-size: 18px;
align-items: left;
margin: auto;
   }
   .loremimg {
   display:flex;
    float:right;
  
height: 518px;
/* margin:auto; */
    /* margin:-31rem 18rem 0 3rem; */
   }
  .loremheader{
    color:#000000;
    font: normal normal 900 30px/54px Nunito Sans;
  }
  .lorem loremheader:hover{
    border:2px solid rgb(76, 76, 252);
  }
  .lorem p:hover{
    border:2px solid rgb(76, 76, 252);
  }
  .lorembutton:hover{
    border:2px solid rgb(76, 76, 252);
  }
  .loremimg:hover{
    border:2px solid rgb(76, 76, 252);
  }
   .lorembutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  23px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    margin-top:5rem;
    box-shadow: 0px 16px 48px #00000029;
   }


/* responsive herosection */


@media    (max-width:480px ) and (min-width:320px) {

    .pricing{
        display:flex;
        justify-content:left;
        align-items:left; 
        margin: auto;
        
       }
       .herosection{
        display:flex;
        justify-content: left;
        align-items: left;
        /* max-width:1280px; */
        width:100%;
        /* margin-:auto; */
       }
     
       .lorem1{
        display:flex;
        justify-content:left;
        align-items:left;
        margin:auto;
       }
       .lorem{
        width:85%;
        margin-top:5rem;
        font: normal normal normal 18px/24px Nunito Sans;
        letter-spacing: 1px;
         color: #000000;
          opacity: 1;
    line-height: 1.4;
    font-size: 18px;
    align-items: left;
    margin: auto;
       }
       .loremimg {
       display:flex;
        float:right;
      
    height: 518px;
    display: none;
       }
      .loremheader{
        color:#000000;
        font: normal normal 900 30px/54px Nunito Sans;
      }
     
       .lorembutton{
        background-color: #1492E6;
        font-size: 15px;
        font: normal normal  23px/31px Nunito Sans;
        color:#FFFFFF;
        opacity: 1;
        padding:1rem 3rem 1rem 3rem;
        border-radius: 33px;
        margin-top:2rem;
        box-shadow: 0px 16px 48px #00000029;
       }
}




   /* boxsection  */


.boxHeading{
    font:normal normal bold 35px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:10rem;
}
.boxHeading p:hover{
border:2px solid #00DAFF;
}
.box1{
    box-shadow: 0px 3px 6px #00000029;
border-radius: 18px;
opacity: 1;
border:1px solid white;
width: 308px;
height: 320px;
}
.box1 h1{
    text-align:center;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: bold;
    opacity:1;
}
.box1 h1:hover{
    border:2px solid #00DAFF; 
}
.box1 p{
    font-size:18px;
    padding:10px 19px 0px 14px;
    text-align:left;
}
.box1 p:hover{
    border:2px solid #00DAFF; 
}
.allbox1{
    display:flex;
    justify-content: space-around;
    align-items: left;
    /* max-width:1280px; */
    width:80%;
    margin:auto;
    margin-top:4rem;
}


/* Responsive boxsection */

@media (max-width:480px ) and (min-width:320px) {

    .boxHeading{
        font:normal normal bold 20px/47px Nunito Sans;
        color:#000000;
        text-align:center;
        margin-top:6rem;
        width:90%;

    }
   
    .box1{
        box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    border:1px solid white;
    width: 285px;
    height: 263px;
    margin-top:2rem;
    }
    .box1 h1{
        text-align:center;
        margin-top: 2rem;
        font-size: 18px;
        font-weight: bold;
        opacity:1;
    }
    
    .box1 p{
        font-size:28px;
        padding:10px 19px 0px 14px;
        text-align:left;
    }
   
    .allbox1{
        display:block;
        justify-content: center;
        align-items: center;
        /* max-width:1280px; */
        width:70%;
        /* margin:auto; */
        margin-top:4rem;
    }
    
}

/* IMAGES PART */
 
.box2{
    /* box-shadow: 0px 3px 6px #00000029;
border-radius: 18px; */
/* opacity: 1; */
/* border:1px solid white; */
width: 308px;
height: 320px;
}
.box2 h1{
    text-align:left;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: bold;
    opacity:1;
}
.box2 h1:hover{
    border:2px solid #00DAFF; 
}
.box2 p{
    font-size:18px;
   
    text-align:left;
}
.box2 p:hover{
    border:2px solid #00DAFF; 
}
.allbox2{

    display:flex;
    justify-content: space-evenly;
    align-items: center;
   width:60%;
    margin:auto;
    margin-top:4rem;
}


/* response images part */
@media (max-width:480px ) and (min-width:320px) {
.box2{
width: 308px;
height: 320px;
margin-top:10rem;
}
.box2 h1{
    text-align:left;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: bold;
    opacity:1;
    
}

.box2 p{
    font-size:18px;
   
    text-align:left;
}

.allbox2{

    display:block;
    justify-content: center;
    align-items: center;
   
    margin:auto;
    /* margin-top:3rem; */
}
}


/* savemoney */
   
.boxHeading1{
    font:normal normal bold 35px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:14rem;
    margin-bottom: 4rem;
}

.savemoney1 h1{
    display:inline;
    font: normal normal bold 24px/32px Nunito Sans;
    opacity:1;
    margin-left:1.2rem;

}
.savemoney1 p{
    /* width:46%; */
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.savemoney1{
  width:46%;
  float:left;
  margin-left:5rem;  
}
.savebutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  23px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}


/* responsive savemoney */

@media    (max-width:480px ) and (min-width:320px) {
.boxHeading1{
    font:normal normal bold 20px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:14rem;
    margin-bottom: 4rem;
}

.savemoney1 h1{
    display:inline;
    font: normal normal bold 21px/32px Nunito Sans;
    opacity:1;
    margin-left:1rem;

}
.savemoney1 p{
    /* width:46%; */
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.savemoney1{
  width:70%;
  /* float:left;
  margin-left:5rem;   */
  display:inline;
  justify-content: space-evenly;
  align-items: center;
  /* margin: auto; */
}
.savebutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  20px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}
}


/* Accuracy */

.accuracy1 h1{
font: normal normal bold 24px/32px Nunito Sans;
opacity: 1;
}
.accuracy1 p{
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.accuracy{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 8%;
    margin-top:5rem;
}
.accuracy1{
    display: flex;
justify-content: start;
align-items: start;
flex-direction: column;
width: 47%;

}
.accbutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  23px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}
.accuracy2{
    display: flex;
align-items: center;
}



/* responsive accuracy */
@media    (max-width:480px ) and (min-width:320px) {
.boxHeading1{
    font:normal normal bold 35px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:14rem;
    margin-bottom: 4rem;
}

.accuracy1 h1{
    display:inline;
    font: normal normal bold 21px/32px Nunito Sans;
    opacity:1;
    margin-left:1.1rem;

}
.accuracy1 p{
    /* width:46%; */
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.accuracy1{
  width:80%;
  float:left;
  margin:auto;
  margin-left:3rem;  
  margin-top:2rem;
}
.accbutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  20px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}
}



/* hiring */


.hiring1 h1{
    display:inline;
    font: normal normal bold 24px/32px Nunito Sans;
    opacity:1;
    margin-left:1.2rem;

}
.hiring1 p{
    /* width:46%; */
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.hiring1{
  width:46%;
  float:left;
  margin-left:5rem; 
  margin-top:5rem; 
}
.hirebutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  23px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}



/* Responsive hiring */
@media    (max-width:480px ) and (min-width:320px) {
.hiring1 h1{
    display:inline;
    font: normal normal bold 21px/32px Nunito Sans;
    opacity:1;
    margin-left:1.1rem;

}
.hiring1 p{
    /* width:46%; */
    font: normal normal normal 21px/28px Nunito Sans;
    color: #000000;
    opacity: 1;
}
.hiring1{
  width:70%;
  float:left;
  margin:auto;
  margin-left:5rem;  
  margin-top:2rem;
}
.hirebutton{
    background-color: #1492E6;
    font-size: 15px;
    font: normal normal  20px/31px Nunito Sans;
    color:#FFFFFF;
    opacity: 1;
    padding:1rem 3rem 1rem 3rem;
    border-radius: 33px;
    box-shadow: 0px 16px 48px #00000029;
    
}
}


/* moneyback */


.moneyback1 h1{
    font: normal normal bold 24px/32px Nunito Sans;
    opacity: 1;
    /* margin-left: 1.2rem;
    text-align: left;
    float: right; */
    
    }
    .moneyback1 p{
        /* width:46%; */
        font: normal normal normal 21px/28px Nunito Sans;
        color: #000000;
        opacity: 1;
    }
    .moneyback{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 0 8%;
        margin-top:5rem;
    }
    .moneyback1{
        display: flex;
    justify-content: start;
    align-items: start;
    /* margin: auto; */
    flex-direction: column;
    width: 47%;
    
    }
    .moneybtn{
        background-color: #1492E6;
        font-size: 15px;
        font: normal normal  23px/31px Nunito Sans;
        color:#FFFFFF;
        opacity: 1;
        padding:1rem 3rem 1rem 3rem;
        border-radius: 33px;
        box-shadow: 0px 16px 48px #00000029;
        
    }
    .moneyback2{
        display: flex;
    align-items: center;
    }


    /* Responsive moneyback */

    @media    (max-width:480px ) and (min-width:320px) {
    .moneyback1 h1{
        display:inline;
        font: normal normal bold 21px/32px Nunito Sans;
        opacity:1;
        margin-left:0.6rem;
    
    }
    .moneyback1 p{
        /* width:46%; */
        font: normal normal normal 21px/28px Nunito Sans;
        color: #000000;
        opacity: 1;
    }
    .moneyback1{
      width:80%;
      float:left;
      margin:auto;
      margin-left:3rem;  
      margin-top:2rem;
    }
    .moneybtn{
        background-color: #1492E6;
        font-size: 15px;
        font: normal normal  20px/31px Nunito Sans;
        color:#FFFFFF;
        opacity: 1;
        padding:1rem 3rem 1rem 3rem;
        border-radius: 33px;
        box-shadow: 0px 16px 48px #00000029;
        
    }
    
    }





/* footer */
.footer{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:auto;
    top:7rem;
    width:1280px;
height: 369px;
background: #000000 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.footer p{
color:white;
position: absolute;
bottom:0;   
}

/* footer responsive */
@media    (max-width:480px ) and (min-width:320px) {
.footer{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:auto;
    top:7rem;
    width:480px;
height: 369px;
background: #000000 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.footer p{
color:white;
position: absolute;
bottom:0;   
}
}



/* review header */

.reviewHead{
    font:normal normal bold 35px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:14rem;
    margin-bottom: 4rem;
}
.fire p{
   
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.parentForm{

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:8rem;
}
.parentForm p{
    text-align:left;
}


.reviewHead1 img{
    height:63px;
    }
    .reviewHead1 h1{
        font: normal normal 900 25px/34px Nunito Sans;
        color:#000000;
       margin-left:1rem;
    }
    .reviewHead1{
        display:flex;
        justify-content:start;
        align-items: start;
        text-align:center;
        margin-top:3rem;
        padding-top:3rem;
        margin-left:2rem;
       
    }
    .reviewSec{
        width: 1097px;
        height: 363px;
    background-color: #F8FAFC;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    opacity: 1;
    align-items: center;
    margin: auto;
    }
     
    .boxHeading p:hover{
        border:2px solid #00DAFF;
        }
        .box1{
            box-shadow: 0px 3px 6px #00000029;
        border-radius: 18px;
        opacity: 1;
        border:1px solid white;
        width: 285px;
        height: 263px;
        background-color: #FFFFFF;
        margin-left:2rem;
        border-radius: 30px;
        }
        .box1 h1{
            text-align:center;
            margin-top: 2rem;
            font-size: 18px;
            font-weight: bold;
            opacity:1;
        }
        .box1 h1:hover{
            border:2px solid #00DAFF; 
        }
        .box1 p{
            font-size:13px;
            padding:10px 19px 0px 14px;
            text-align:left;
        }
        .box1 p:hover{
            border:2px solid #00DAFF; 
        }
        .reviewbox1{
            display:flex;
            justify-content: space-around;
            align-items: left;
            width:85%;
            margin:auto;
            margin-top:5rem;
        }
        .reviewall{
            display:flex;
        }
        .faceimg{
            height: 43px;
            margin-top:1.4rem;
        }
        .reviewText
        {
    font-size:13px;
            line-height: 0px;
            color:#615C5C;
            margin-left:-0.6rem;
            margin-top: 2rem;
        }
        .rtext1{
            color:#000000;
        }
        .startimg{
            /* margin-left:-2rem; */
        }
        .starimg1{
           height:14px;
           
        }
        .reviewall{
            display:flex;
            justify-content: center;
            align-items: center;
        }


    /* responsive review header */
    @media    (max-width:480px ) and (min-width:320px) {
.reviewHead{
    font:normal normal bold 30px/47px Nunito Sans;
    color:#000000;
    text-align:center;
    margin-top:14rem;
    margin-bottom: 4rem;
}
.fire p{
   
font: normal normal bold 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.fire img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.electronic img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:4rem;
}
.electronic p{
    margin-top:-2rem;
}
.form img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:4.5rem;
}
.parentForm{

    display:block;
    justify-content: center;
    align-items: center;
    margin-top:8rem;
}
.parentForm p{
    text-align:center;
}

.reviewHead1 img{
    height:63px;
    }
    .reviewHead1 h1{
        font: normal normal 900 25px/34px Nunito Sans;
        color:#000000;
       margin-left:1rem;
    }
    .reviewHead1{
        display:flex;
        justify-content:start;
        align-items: start;
        text-align:center;
        margin-top:3rem;
        padding-top:3rem;
        margin-left:2rem;
       
    }
    .reviewSec{
        width: 460px;
        height: 1100px;
    background-color: #F8FAFC;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    opacity: 1;
    /* display:inline-block; */
    align-items: center;
    margin: auto;
    }
     
    .boxHeading p:hover{
        border:2px solid #00DAFF;
        }
        .box1{
            box-shadow: 0px 3px 6px #00000029;
        border-radius: 18px;
        opacity: 1;
        border:1px solid white;
        width: 285px;
        height: 263px;
        background-color: #FFFFFF;
        margin-left:2rem;
        border-radius: 30px;
        }
        .box1 h1{
            text-align:center;
            margin-top: 2rem;
            font-size: 18px;
            font-weight: bold;
            opacity:1;
        }
        .box1 h1:hover{
            border:2px solid #00DAFF; 
        }
        .box1 p{
            font-size:13px;
            padding:10px 19px 0px 14px;
            text-align:left;
        }
        .box1 p:hover{
            border:2px solid #00DAFF; 
        }
        .reviewbox1{
            /* display:flex; */
            display: block;
            justify-content: space-around;
            align-items: left;
            width:85%;
            margin:auto;
            margin-top:5rem;
        }
        .reviewall{
            display:flex;
        }
        .faceimg{
            height: 43px;
            margin-top:1.4rem;
        }
        .reviewText
        {
    font-size:13px;
            line-height: 0px;
            color:#615C5C;
            margin-left:-0.6rem;
            margin-top: 2rem;
        }
        .rtext1{
            color:#000000;
        }
        .startimg{
            /* margin-left:-2rem; */
        }
        .starimg1{
           height:14px;
           
        }
        .reviewall{
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }